

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    box-shadow: 0px 10px 10px 0px rgba(207,207,207,1);
    margin-bottom: 50px;
}

.nav-search > .search-wrapper input {
    width: 600px;
    padding: 8px;
    background: #E8E8E8;
    border: none;
    outline: none;
    padding-left: 30px;
    color: #808080;
    border-radius: 5px;
}

.nav-search > .search-wrapper {
    position: relative;
}

.nav-search > .search-wrapper > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #E8E8E8;
    margin-left: 8px;
    color: #808080;
}
.nav-search > .search-wrapper > input::placeholder {
    font-weight: 600;
}

.nav-logo > a > img {
    width: 70px;
    cursor: pointer;
}

.nav-user {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.nav-profile > i {
    cursor: pointer;
}

.nav-user > i {
    cursor: pointer;
    color: #808080;
}

/* Modal */

.profile {
    position: absolute;
    right: -350px;
    top: 25px;
    width: 350px;
    height: 200px;
    background: #f0f0f0;
    transition: 1.2s;
    box-shadow: 0px 0px 17px 4px rgba(168, 168, 168, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-modal {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 150px;
}

.profile-info > a {
    color: #9B12CB;
}

.profile-info > p {
    margin-bottom: 3px;
}

.profile-modal-close {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.profile-info > .logout > a {
    color: #9B12CB;
}

.logout {
    display: flex;
    justify-content: space-between;
}