header {
    background: #f0f0f0;
}

.nav-signup {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.nav-signup > a{
    background: #BE06FF;
    color: white;
    border: none;
    width: 200px;
    padding: 8px 0px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}